@import "@styles/variables.scss";

.table {
  width: 100%;

  border-collapse: collapse;

  display: inline-block;
}

@media (max-width: 400px) {
  .wrapper {
    overflow-x: scroll;
  }
  .table {
    min-width: 400px;
  }
}
