@import "@styles/variables.scss";

.row {
  border: 1px solid #e3e6ec;

  border-top: none;

  color: #474955;

  font-size: 13px;

  font-weight: 500;
  line-height: 137.687%;
}

.item {
  padding: 15px;
  &:first-child {
    text-align: center;
  }
  & + & {
    border-left: 1px solid #e3e6ec;
  }
}
